doctype html
html
  head
    title admin/users/#edit
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    link(rel="stylesheet", type="text/css", href="/admin/users/app.css")
  body
    h1 admin/users/#edit
      
    script(src="/js/app.js")
    script(src="/admin/users/app.js")